{% extends "esc_base.html" %}
{% block nav-djview-class %}active{% endblock %}

{% block content %}

<div class="row">

<div class="span6" id="songrequests">
	<h2>Song Requests</h2>
	<div class="row">
	{% for x in songrequests %}

		<div class="span6 viewitem songrequest" id="songrequest_{{x.pk}}">

			<span class="pull-right muted timesince"> {{ x.date|timesince}} </span>
			<span class="">{{ x.song.text }}</span>

		</div>

	{% empty %}
		<div class="span6 viewitem">
			<i class="icon-info-sign pull-right"></i>
			<p class="text-info">There doesn't seem to be any song requests submited</p>
		</div>
	{% endfor %}

	</div>
</div>


{% include "esc_messages.html" with span_value="span5" offset_value="offset1" %}

</div>
{% endblock %}