{% load bootstrap_toolkit %}

<div class="{{ span_value }}">

<h2>{{ form_title }}</h2>
<div id="newmessage_result" class="form_result">
{% if form_result %}
{{ form_result }}
{% endif %}
</div>

<div class="well">
<form action="{% url "newmessage" %}" method="post" class="ajax" data-replace-inner="#newmessage_result" data-method="post">
	{% csrf_token %}
	{{ newMessageForm|as_bootstrap }}
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn" value="Send message" />
		</div>
	</div>
</form>
</div>

<script type="text/javascript">

$('#id_text').focus();
</script>

</div>