{% extends "esc_base.html" %}
{% block nav-home-class %}active{% endblock %}
{% block content %}

<div class="row">
<div class="span12">
	<div class="well">
        <p>Welcome to Escape DJ System. Here you can request songs and send messsages to the DJ</p>
        <p>The DJ will instantaneously recive your lovely requests and flattering messages on a dedicated monitor in the DJ booth.</p>
        <p>So go ahead, request a song you would love to hear, or tell the DJ how awesome he/she is!</p>
    </div>
</div>
</div>

<div class="row">
{% include "esc_songrequest_form.html" with span_value="span6" form_title="Request a Song!" %}
{% include "esc_newmessage_form.html" with span_value="span6" form_title="Send a message to the DJ!" %}
</div>

<div class="row">
{% include "esc_elementlist.html" with e_name="songrequest" e_names="songrequests" e_title="Song Requests" e_url="getsongrequests" e_max="5" e_elements=songrequests span_value="span12" offset_value="" %}
</div>

<script type="text/javascript">
$('#id_song').focus();
</script>

{% endblock %}