{% extends "esc_base.html" %}
{% block nav-home-class %}class="active"{% endblock %}
{% block content %}

<div class="row">

<div class="well span12">
        <p>Welcome to Escape DJ System. Here you can request songs and send messsages to the DJ</p>
        <p>The DJ will instantaneously recive your lovely requests and flattering messages on a dedicated monitor in the DJ booth.</p>
        <p>So go ahead, request a song you would love to hear, or tell the DJ how awesome he/she is!</p>
</div>

{% include "esc_songrequest_form.html" with span_value="span6" form_title="Request a Song!" %}
{% include "esc_newmessage_form.html" with span_value="span6" form_title="Send a message to the DJ!" %}

{% include "esc_elementlist.html" with e_name="songrequest" e_names="songrequests" e_title="Song Requests" e_url="getsongrequests" e_max="5" e_elements=songrequests span_value="span12" offset_value="" %}
</div>

{% endblock %}