{% extends "esc_base.html" %}

{% block content %}
<div class="hero-unit" id="about">

<div class="row">
<h1>About</h1>
<p>Escape DJ System is a web application for use in <a href="http://cyb.no">CYB's</a> Student Pub, Escape.</p>
<p></p>
<img class="img-rounded" src="http://cyb.ifi.uio.no/logo/hvittpasort.png" />

<p>With Escape DJ System you can requests songs you want to hear the DJ play, and even send him/her messages!</p>

<p>The DJ sees all incomming song requests and messages on a dedicated screen in the DJ booth.</p>

</div>
{% endblock %}