{% comment %}
Requires:
{{e_name}} {{e_names}} {{e_title}} {{e_url}} {{e_max}} {{ e_elements }} {{ span_value }} {{ offset_value }}
{% endcomment %}
<div class="{{ span_value }} {{ offset_value }}" id="{{ e_names }}">
	<h2>{{ e_title }}</h2>
	<div class="row">
	{% for x in e_elements %}
		<div class="{{ span_value }} well well-small {{ e_name }}" id="{{ e_name }}_{{x.pk}}">
			<span class="pull-right muted timesince" title="{{x.date|date:"c"}}">{{ x.date|timesince }}</span>
			<span class="">{% if x.text %}{{x.text}}{% else %}{{x.song.text}}{% endif %}</span>
		</div>
	{% empty %}
		<div class="{{ span_value }} well well-small" id="{{ e_names }}_empty">
			<i class="icon-info-sign pull-right"></i>
			<p class="text-info">There doesn't seem to be any {{e_names}} submited</p>
		</div>
	{% endfor %}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

var csrftoken = $.cookie('csrftoken');

var {{e_names}} = new Array();

window.max{{e_names}} = ({{ e_elements|length }} > {{ e_max }} ? {{ e_elements|length }} : {{ e_max }});

{% for x in e_elements %}{{e_names}}[{{forloop.counter0}}] = {{ x.pk }};
{% empty %}
{{e_names}}[0] = 0;
{% endfor %}

//Timesince
$("#{{e_names}}").find(".timesince").timesince({
    refreshMs: 1 * 60 * 1000 // 5 minutes
});

(function {{e_name}}_poll(){
	setTimeout(function(){
    $.ajax({ url: "{% url e_url %}", 
    	beforeSend: function(xhr, settings) {
        	xhr.setRequestHeader("X-CSRFToken", csrftoken );
    	},
    	success: function(data){

	        for (var i = 0; i < data.length; i++) {
	        	{{e_names}}.unshift(data[i]['pk']);
			}

			//Remove empty notice, if it exists
			if ($('#{{ e_names }}_empty').length > 0) {
				$('#{{ e_names }}_empty').remove();
			}

			//Remove old elements
			while(window.max{{e_names}} < {{e_names}}.length) {
				$('#{{e_name}}_' + {{e_names}}.pop() ).remove();
			}
			//Add new elements
	        for (var i = 0; i < data.length; i++) {
	        	$('<div class=\"{{ span_value }} well well-small {{e_name}}\" id=\"{{e_name}}_'+ data[i]['pk'] +'\">\
						<span class=\"pull-right muted timesince\" title=\"' + data[i]['date'] + '\"></span>\
						<span class=\"\">' + data[i]['text'] + '</span>\
					</div>\
	        		').hide().prependTo( $('#{{e_names}}').find('.row') ).fadeIn().find('.timesince').timesince({refreshMs: 1 * 60 * 1000});

			}


	  
    	}, dataType: "json", complete: {{e_name}}_poll, timeout: 90000, type:'POST', data:{'pk':{{e_name}}s[0]} } );
    },500);
})();

});

</script>
