
<div class="{{ span_value|default:'span5' }} {{ offset_value|default:'offset1' }} " id="messages">
	<h2>Messages</h2>
	<div class="row">
	{% for x in msgs %}

		<div class="{{ span_value|default:'span5' }} viewitem message" id="message_{{x.pk}}">
			<span class="pull-right muted timesince" title="{{x.date|date:"c"}}">Time here</span>
			<span class="">{{ x.text }}</span>
		</div>

	{% empty %}
		<div class="{{ span_value|default:'span5' }} viewitem" id="messages_empty">
			<i class="icon-info-sign pull-right"></i>
			<p class="text-info">There doesn't seem to be any messages submited</p>
		</div>
	{% endfor %}
	</div>
</div>

</div>

<script type="text/javascript">


$(document).ready(function() {

var csrftoken = $.cookie('csrftoken');

var messages = new Array();

var maxmessages = ({{ msgs|length }} > 7 ? {{ msgs|length }} : 7);

var span_value = "{{ span_value|default:'span5' }}";

{% for x in msgs %}messages[{{forloop.counter0}}] = {{ x.pk }};
{% empty %}
messages[0] = 0;
{% endfor %}

//Timesince
$("#messages").find(".timesince").timesince({
    refreshMs: 1 * 60 * 1000 // 5 minutes
});

(function message_poll(){
	setTimeout(function(){
    $.ajax({ url: "{% url "getmessages" %}", 
    	beforeSend: function(xhr, settings) {
        	xhr.setRequestHeader("X-CSRFToken", csrftoken );
    	},
    	success: function(data){

	        for (var i = 0; i < data.length; i++) {
	        	messages.unshift(data[i]['pk']);
			}


			//Remove old elements
			while(maxmessages < messages.length) {
				$('#message_' + messages.pop() ).remove();
			}
			//Add new elements
	        for (var i = 0; i < data.length; i++) {
	        	$('<div class=\"'+ span_value +' viewitem message\" id=\"message_'+ data[i]['pk'] +'\">\
						<span class=\"pull-right muted timesince\" title=\"' + data[i]['date'] + '\"></span>\
						<span class=\"\">' + data[i]['text'] + '</span>\
					</div>\
	        		').hide().prependTo( $('#messages').find('.row') ).fadeIn().find('.timesince').timesince({refreshMs: 1 * 60 * 1000});

			}


	  
    	}, dataType: "json", complete: message_poll, timeout: 30000, type:'POST', data:{'pk':messages[0]} } );
    },500);
})();

});

</script>