{% extends "esc_base.html" %}
{% block nav-djview-class %}active{% endblock %}

{% block content %}

<div class="span12" style="padding-left: 19px;">
	<button id="fullscreenButton" class="btn pull-right">Go Fullscreen</button>
</div>

{% include "esc_elementlist.html" with e_name="songrequest" e_names="songrequests" e_title="Song Requests" e_url="getsongrequests" e_max="7" e_elements=songrequests span_value="span4" offset_value="" %}

{% include "esc_elementlist.html" with e_name="message" e_names="messages" e_title="Messages" e_url="getmessages" e_max="7" e_elements=msgs span_value="span7" offset_value="offset1" %}



<script type="text/javascript">
$(document).ready(function() {

	window.fullscreenState = 0;

	$(window).on('hashchange', function() {
		if (window.location.hash == "#fullscreen") {
			makeFullscreen();
			fullscreenState = 1;
			$('#fullscreenButton').html('Exit Fullscreen');
		}
	});
	$(window).trigger('hashchange');	
	
	$('#fullscreenButton').on('click', function() {
		if (window.fullscreenState == 0) {

			makeFullscreen();
			$(this).html('Exit Fullscreen');

		}
		else {
			unfullScreen();
			$(this).html('Go Fullscreen');
		}
	});
	$('')

});

//We make it fullscreen client side
function makeFullscreen(){
	$('.navbar').hide();	
	$('#title_h1').hide();	
	$('body').css('padding-top','0px');
	window.fullscreenState = 1;
}
function unfullScreen() {
	$('.navbar').fadeIn();
	$('#title_h1').fadeIn();
	$('body').css('padding-top','60px');
	window.fullscreenState = 0;	
}
</script>

{% endblock %}