{% load bootstrap_toolkit %}

<div class="{{ span_value }}">

<h2>{{ form_title }}</h2>
<div id="songrequest_result" class="form_result">
<div id="newmessage_result" class="form_result">
{% if form_result %}
{{ form_result }}
{% %}
</div>

<div class="well">
<form id="songrequest_form" action="{% url "songrequest" %}" method="post" class="ajax" data-replace-inner="#songrequest_result" data-method="post">
    {% csrf_token %}
    {{ songRequestForm|as_bootstrap }}
    <div class="control-group">
		<div class="controls">
  			<input type="submit" value="Request Song" class="btn" />
		</div>
	</div>
</form>
</div>

<script type="text/javascript">

var songs = [{% for x in songs %}'{{x.text}}',{% endfor %}]
 
$('#id_song').typeahead({source: songs}).focus();

//When a a song request is submited, add it to the song array
$('#songrequest_form').submit(function(){
	songs.push($('#id_song').val() );
});

</script>



</div>