{% extends "esc_base.html" %}
{% block nav-djview-class %}active{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
	<button id="fullscreenButton" class="btn pull-right">Go Fullscreen</button>
</div>
</div>

<div class="row-fluid">
{% include "esc_elementlist.html" with e_name="songrequest" e_names="songrequests" e_title="Song Requests" e_url="getsongrequests" e_max="7" e_elements=songrequests span_value="span6" offset_value="" %}

{% include "esc_elementlist.html" with e_name="message" e_names="messages" e_title="Messages" e_url="getmessages" e_max="7" e_elements=msgs span_value="span6" offset_value="" %}
</div>


<script type="text/javascript">
$(document).ready(function() {

	window.fullscreenState = 0;

	$(window).on('hashchange', function() {
		if (window.location.hash == "#fullscreen") {
			makeFullscreen();
			$('#fullscreenButton').html('Exit Fullscreen');
		}
		//We remove the button the page is displayed on a single purpose monitor
		else if (window.location.hash == "#fullscreenmonitor") {
			makeFullscreen();
			$('#fullscreenButton').fadeOut();
			window.maxsongrequests = 10
			window.maxmessages = 10

			$('.container').css({'margin-top':'20px'}); //If we need to lower the view
			$("<link/>", { //Load the dark css for monitor viewing
			   rel: "stylesheet",
			   type: "text/css",
			   href: "{{ STATIC_URL }}/css/bootstrap-slate.min.css"
			}).appendTo("head"); 
		}
	});
	$(window).trigger('hashchange');
	
	$('#fullscreenButton').on('click', function() {
		if (window.fullscreenState == 0) {
			makeFullscreen();
			$(this).html('Exit Fullscreen');
		}
		else {
			unfullScreen();
			$(this).html('Go Fullscreen');
		}
	});

});

//We make it fullscreen client side
function makeFullscreen(){
	$('.navbar').add('#title_h1').fadeOut('fast',function() {
		$('body').css({'padding-top':'123px'}).animate({'padding-top':'0'}, 'fast');
	});

	window.fullscreenState = 1;
}
function unfullScreen() {
	
	$('body').animate({'padding-top':'123px'}, 'fast', function() {
		$('.navbar').add('#title_h1').fadeIn('fast');
		$('body').css({'padding-top':'60px'});
	});
	window.fullscreenState = 0;	
}
</script>

{% endblock %}